In [1]:
#tASK1,,Questionno-2

for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        
        print(i,end=",")
print()

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [11]:
#first method
#task1 Question no-3
first_name = input("enter the first name:")
last_name = input("enter second name:")
output = first_name[::-1]+" "+last_name[::-1]
print(output)

enter the first name:Rahul
enter second name:Kumar
luhaR ramuK

In [21]:
#second method
#task1 Question no-3
user_name = "Rahul Kumar"

l = user_name.split(" ")
l1=[]
i = 0
while i<len(l):
    l1.append(l[i][::-1])
     
    i+=1
output = " ".join(l1)
print(output)

luhaR ramuK

In [55]:
#task1 Question no-4
#from math import *
π=3.14
d = 12
r = d/2
V=4/3 * π * r**3    
print(r)
print(V)

6.0
904.3199999999999

In [71]:
#task2 Question no-1
n = input("enter the number:")
l = n.split(",")
print(l)

enter the number:1,2,3,4,5
['1', '2', '3', '4', '5']

In [2]:
#task2 Question no-2
n = int(input("enter the number of rows:"))
for i in range(n):
    print("*"*(i+1))
for i in range(n-1):
    print("*"*(n-i-1))

enter the number of rows:5
*
**
***
****
*****
****
***
**
*

In [ ]:
#input-AcadGild
#output-dilGdacA

In [106]:
word = 'AcadGild'
word1 = word[0:5]
x=  word[-1]+ word[-3]+word[-2] +word1[::-1]
print(x)

dilGdacA

In [105]:
s="WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens" 
l=s.split(",")

s2=(" ".join(l[4:])).split()
s4=s2[3:]
s3=s2[0:3]
s1=" ".join(l[0:2])+"\n\t"+" ".join(l[2].split(","))+"\n\t\t"+" ".join(s2)+" ".join(s3)+"\n\t\t"+ " ".join(s4)

print((s1))

WE  THE PEOPLE OF INDIA
	 having solemnly resolved to constitute India into a SOVEREIGN
		SECULAR DEMOCRATIC REPUBLIC and to secure to all its citizensSECULAR DEMOCRATIC REPUBLIC
		and to secure to all its citizens